<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table table-secondary">
                <div class="thead">
                    <tr>
                        <th>UserId</th>
                        <th>Name</th>
                        <th>Email-Id</th>
                        <th>Role</th>
                    </tr>
                </div>
                <tbody>
                    <tr *ngFor="let item of itemList">
                       
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div> -->