.form-switch .form-check-input {
  width: 3rem;
  height: 1.5rem;
}

.bodyBg{
     background-image:url("/src/assets/images/bg-bottom.svg"), url('/assets/images/bg-top.svg');
  /* background-size: cover; */
  background-size: contain;
  background-position:left bottom,right top ;

  background-repeat: no-repeat; 
}